/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: #f67f6f;
    padding: 10px 0;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #94d2bd;
}

/* Form Container Styling */
.form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Form Element Styling */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #005f73;
    outline: none;
}

form .btn {
    width: 100%;
    padding: 10px;
    background-color: #0a9396;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form .btn:hover {
    background-color: #005f73;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .form-container {
        margin: 20px;
        padding: 15px;
    }
}
/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f67f6f;
    color: white;
    margin-top: 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
