/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: #f67f6f;
    padding: 10px 0;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #005f5f;
    border-radius: 5px;
}

/* Form Styles */
.form-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form select:focus {
    border-color: #008080;
    outline: none;
}

section.hero {
    text-align: center;
    margin-top: 20px;
}

section.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

section.hero .btn:hover {
    background-color: #005f5f;
}
/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f67f6f;
    color: white;
    margin-top: 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
